.container {
    max-width: 1440px;
    padding: 0 180px;
    margin: 0 auto;
}

.container_margin-bottom_true {
    margin-bottom: 50px;
}

.container_bg-color_gray {
    background-color: #F1F1F1;
    padding: 25px 0 25px 45px;
    border-radius: 10px;
    max-width: 1140px;
    margin: auto auto;
}

.section {
    padding: 25px 0;
}

.section:first-child {
    padding-top: 60px;
}

.section:last-child {
    padding-bottom: 50px;
}

.page__pharagraph:not(:last-child) {
    margin-bottom: 30px;
}

.page__image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.page__image:not(:last-child) {
    margin-bottom: 30px;
}

.page__figure:not(:last-child) {
    margin-bottom: 30px;
}

.header__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    margin-bottom: 30px;
}

.title_nav {
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 20px;
}

.navigation__item {
    color: #02535F;
    text-decoration: underline;
    margin-bottom: 10px;
}

.navigation__item:last-child {
    margin-bottom: 0;
}

.title {
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 30px;
}

.next-element__image {
    margin-right: 25px;
    float: left;
}

.next-element__text {
    max-width: 480px;
    float: left;
}

.next-element__image_float_right {
    float: right;
}

.next-element__text_margin-right_true {
    max-width: 480px;
    float: left;
}

.next-element__block {
    display: flow-root;
}

.next-element__block:not(:last-child) {
    margin-bottom: 30px;
}

.last-element__image {
    vertical-align: bottom;
}

.last-element__figcaption {
    font-weight: 700;
    color: #5E5E5E;
    border: 1px solid #5E5E5E;
    border-top: 0;
    padding: 15px 30px;
}

.last-element__figure {
    margin-bottom: 30px;
}

.results__list {
    margin-bottom: 30px;
}

.results__item:not(:last-child) {
    margin-bottom: 10px;
}